@model List<Products>

@{
    Layout = "_Layout";
}

<h1>Index</h1>
<h2>Products view!</h2>

@foreach (var product in Model)
{
    <h4>Nome do produto: @product.NameProduct - @product.Id</h4>
    <p>Outras informações do produto:</p>
    <p>Valor do produto: @product.ValueProduct</p>
    <hr />
}
